<aside class="menu-bar">
  <nav>
    <h3>blogroll</h3>
    <ul>
      <li><a href="#">bora</a></li>
      <li><a href="#">bora</a></li>
      <li><a href="#">bora</a></li>
      <li><a href="#">bora</a></li>
    </ul>
  </nav>
  <nav>
    <h3>blogroll</h3>
    <ul>
      <li><a href="#">bora</a></li>
      <li><a href="#">bora</a></li>
      <li><a href="#">bora</a></li>
      <li><a href="#">bora</a></li>
    </ul>
  </nav>
  <nav>
    <h3>blogroll</h3>
    <ul>
      <li><a href="#">bora</a></li>
      <li><a href="#">bora</a></li>
      <li><a href="#">bora</a></li>
      <li><a href="#">bora</a></li>
    </ul>
  </nav>
</aside>
